#Database
DATABASE_URL=""

# Server
PORT="3333"

# Authorization token
JWT_SECRET="example_secret_replace_in_production_with_secure_random_string"

# Upload (AWS/CLOUDFLARE)
# AWS_ACCESS_KEY_ID="60662758d619a81a3d44e62717388f8c"
# AWS_SECTRE_KEY="95c1d2c8bdb601135b494f38ad776767960e476b2aaae91eea3dd25ede6eef4b"
# AWS_BUCKET_NAME="rocketseat-nest-clean"
# CLOUDFLARE_ACCOUNT_ID="fafb765a3b8de6d6ecb3773fea5c7267"